#tCredits{
  text-align: center;
  font-size: medium;
  font-family : Verdana,Helvetica,sans-serif; 
  font-weight: bold;
}

#tMembers{
  text-align: center;
  font-size: medium;
  font-family : Verdana,Helvetica,sans-serif; 
  font-weight: bold;
}

#tPurchases{
  text-align: center;
  font-size: medium;
  font-family : Verdana,Helvetica,sans-serif; 
  font-weight: bold;
}
